{{#with (changeset credentials validations) as |changeset|}}
  <div class="text-center">
    <form {{action "authenticate" changeset on="submit"}} class="form-signin">
      <label for="username" class="sr-only">Username</label>
      {{input
          id="username"
          class="form-control"
          placeholder="Enter username"
          type="text"
          value=changeset.username
          autofocus="autofocus"
          required="required"
      }}

      <label for="password" class="sr-only">Password</label>
      {{input
          id="password"
          class="form-control"
          placeholder="Enter password"
          type="password"
          value=changeset.password
          required="required"
      }}

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        {{fa-icon "sign-in-alt"}} Sign in
      </button>
      {{#if errorMessage}}
        <br>
        <div class="alert alert-danger">{{errorMessage}}</div>
      {{/if}}
    </form>
  </div>
{{/with}}