<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-right">
            {{#bs-button-group
                 value=currencyCode
                 type="radio"
                 onChange=(action (mut currencyCode)) as |bg|}}
              {{#bg.button type="info" outline=true value="mxn"}}MXN{{/bg.button}}
              {{#bg.button type="info" outline=true value="usd"}}USD{{/bg.button}}
            {{/bs-button-group}}
          </th>
          <th class="text-right">
            Amount
          </th>
          <th>Type</th>
          <th>Account</th>
          <th>Created date</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |movement|}}
          <tr>
            <td>{{movement.description}}</td>
            <td class="text-right" colspan="2">
              {{format-currency movement.amount currencyCode conversion}}
            </td>
            <td>{{movement.type}}</td>
            <td>{{movement.account}}</td>
            <td>{{movement.created_at}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>